@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --background-color: rgb(5, 16, 53);
    --background-color-opacity: rgb(12, 53, 110);
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    overflow-x: hidden;
}

.logo-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    animation: logo-image 1s infinite;
}

@keyframes logo-image {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.header {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.frontpage {
    background-color: var(--background-color-opacity);
    position: relative;
    animation: backgroundImage 3s forwards;
}

@keyframes backgroundImage {
    0% {
        transform: translateY(-6px);
        opacity: 0.3;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.cardSection {
    border: 2px solid black;
}

.cardSection:hover {
    background-color: rgb(55, 55, 83);
    color: #fff
}

.webuy {
    background-color: rgb(19, 19, 152, .7);
}

.successful {
    background-color: rgb(19, 19, 152, .8);
}

#welcome {
    animation: welcomepage 4s forwards;
    position: relative;
}

@keyframes welcomepage {
    0% {
        right: 1000px;
    }
    100% {
        right: 0;
    }
}

#contact {
    transition: all 1s;
}

#contact:hover {
    transform: rotateY(180deg);
}

#cryptoimage {
    animation: cryptoimage 4s forwards;
}

@keyframes cryptoimage {
    0% {
        left: 1000px;
    }
    100% {
        left: 0;
    }
}

#box-one,
#box-three,
#box-two {
    position: relative;
    transition: all 1s;
    border: none;
}

#box-one:hover {
    transform: translateY(-40px);
}

#box-three:hover {
    transform: translateY(-50px);
}

#box-two:hover {
    transform: translateY(50px);
    background-color: green;
}

#webuyone {
    position: relative;
    animation: webuyone 4s forwards ease-out;
}

@keyframes webuyone {
    0% {
        left: 1000px;
    }
    100% {
        left: 0;
    }
}

#webuytwo {
    position: relative;
    animation: webuytwo 4s forwards ease-out;
}

@keyframes webuytwo {
    0% {
        right: 1000px;
    }
    100% {
        right: 0;
    }
}

.navigationsubmain {
    display: flex;
    padding: 20px;
}

.navigationsubmain li {
    margin: 0 20px;
    color: yellow;
}

.navigationsubmain li:hover {
    color: white;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
    /* color: white; */
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24x;
    height: 2px;
    background: black;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hanburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none
}

.open .hanburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}